@model ZdtbSite.Web.Models.ProductViewModel
<!-- blog entries -->
<script type="text/javascript">
    function downPDF() {
        var url = window.location;
        //alert(url);
        //ajaxSubmit("@Url.Action("DownPdf", "Product")", { HtmlUrl: encodeURI(url) }, "正在下载文件..");
        if (url) {
            $("#DownFiel").attr("src", "/Product/downPDF?HtmlUrl=" + url);
        } else alert("获取产品URL失败！");
    }

</script>
<div style=" display:none">
    <iframe id="DownFiel"></iframe>
</div>
<div class="Product_entries">
    <div class="post post_full">
        <div class="services_option2 vertical_tabs">
            <h4>@Model.Name</h4>
            @*<div class="img_wrap bwWrapper">
                <div class="date">@Model.CreateTime.ToString("MM/dd/yyyy")</div>
                <img src="@Model.ImageUrl" width="640" height="265" alt="" />
            </div>*@
            <div id="tabs">
                <ul class="tab_select">
                    <li><a href="#tab-1">Standards & Application</a></li>
                    <li><a href="#tab-2">Description</a></li>
                    <li><a href="#tab-3">Mechanical Features</a></li>
                    <li><a href="#tab-4">Electrical Parameters</a></li>
                    <li><a href="#tab-5">Fittings & Installation</a></li>
                </ul>
                <div id="tab-1">
                    <div style="clear: both;">@Html.Raw(Model.StandardsApplication)</div>
                </div>
                <div id="tab-2">
                    <div style="clear: both;">
                        @Html.Raw(Model.Description)
                    </div>
                </div>
                <div id="tab-3">
                    <div style="clear: both;">
                        @Html.Raw(Model.MechanicalFeatures)
                    </div>
                </div>
                <div id="tab-4">
                    <div style="clear: both;">
                        @Html.Raw(Model.ElectricalParameters)
                    </div>
                </div>
                <div id="tab-5">
                    <div style="clear: both;">
                        @Html.Raw(Model.FittingsInstallation)
                    </div>
                </div>
            </div>
        </div>

        @*<div class="desc">
                <h4>@*Power Inductors Printed Circuit Mount PTL-02 SERIES SIZE 100@Model.Name</h4>
                @Html.Raw(Model.Description);
            </div>*@
        @*<a href="javascript:void(0)" style=" margin-top:10px;" onclick="downPDF()">Download product information</a>*@
    </div>
</div>
<!-- /blog entries -->
