@model IEnumerable<ZdtbSite.Model.ContentType>
@{
    IEnumerable<ZdtbSite.Web.Models.ProductViewModel> productRecommendList = ViewBag.ProductRecommendList;
    var controllerName = Context.Request.RequestContext.RouteData.GetRequiredString("controller");
    string actionName = ViewBag.ActionName;
}

<!-- sidebar -->
<div class="sidebar">
    <!-- most popular -->
    @Html.Partial("_ProductRecommend", productRecommendList)
    <!-- /most popular -->
    <!-- latest tweets -->
    @Html.Partial("_OnlineService")
    <!-- /latest tweets -->
    <!--SearchButton-->
    @Html.Partial("_SearchButton")
    <!--/SearchButton-->
    <!-- acc tabs -->
    <div class="acc_tabs">
        <div id="tabs">
            <ul class="tab_select">
                <li><a href="#tab-2">Categories</a></li>
            </ul>
            <div id="tab-2">
                <ul>
                    @foreach (var contentype in Model)
                    {
                        <li><a href="@Url.Action(actionName, controllerName, new { catelog = contentype.Id })">@contentype.Description</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- /acc tabs -->
    <!-- our clients -->
    @Html.Partial("_Feedback")
    <!-- /our clients -->
</div>
<!-- /sidebar -->
