@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Minnan Technology Co.Ltd</title>
    <link rel="icon" type="image/png" href="/HtmlTemplate/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/HtmlTemplate/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/HtmlTemplate/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/HtmlTemplate/images/apple-touch-icon-114x114.png" />
    @Scripts.Render("~/Scripts/HomeLayout")
    @RenderSection("Header", false)
</head>
<body>
    <div class="wraper">
        <header class="header">
            <a class="logo" href="@Url.Action("Index", "Home")">construct</a>
            <nav>
                <!-- top menu -->
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>

                    <li>
                        <a href="#">About Us</a>
                        <ul>
                            <li><a href="@Url.Action("Index", "About")">Company Profile</a></li>
                            @*<li><a href="@Url.Action("Device", "About")">Device&Workshop</a></li>*@
                            <li><a href="@Url.Action("Process", "Support")">Process</a></li>
                            <li><a href="@Url.Action("TechnologySupportIndex", "Support")">Technology Support</a></li>
                            <li><a href="@Url.Action("FAQ", "Support")">FAQ</a></li>
                            <li><a href="@Url.Action("ContactUs", "About")">Contact Us</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Products</a>
                        <ul>
                            <li><a href="@Url.Action("Index", "Product")">Our offering</a></li>
                            <li><a href="@Url.Action("QualityCertificates", "Product")">Quality Certificates</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">News</a>
                        <ul>
                            <li><a href="@Url.Action("Index", "Article", new { type = "IndustryNews" })">Industry News</a></li>
                            <li><a href="@Url.Action("Index", "Article", new { type = "CompanyNews" })">Company News</a></li>
                        </ul>
                    </li>
                    @*<li>
                            <a href="@Url.Action("TechnologySupport", "Support")">Services&Support</a>
                            <ul>
                                <li><a href="@Url.Action("Process", "Support")">Process</a></li>
                                <li><a href="@Url.Action("TechnologySupport", "Support")">Technology Support</a></li>
                                <li><a href="@Url.Action("FAQ", "Support")">FAQ</a></li>
                            </ul>
                        </li>*@
                    <li>
                        <a href="#">Careers</a>
                        <ul>
                            <li><a href="@Url.Action("TalentStrategy", "Careers")">Talent Strategy</a></li>
                            <li><a href="@Url.Action("Index", "Careers")">Recruit</a></li>
                            <li><a href="@Url.Action("OurTeam", "Careers")">Our Team</a></li>

                        </ul>
                    </li>
                </ul>
                <!-- /top menu -->
            </nav>
        </header>
    </div>
    @RenderBody()
    <!-- footer -->
    <!-- social block -->
    <div class="social_block">
        <div class="wraper">
            <p>Stay connected with us in your favorite flavor!</p>
            <ul>
                <li class="facebook"><a href="#">Facebook</a></li>
                <li class="twitter"><a href="#">Twitter</a></li>
                <li class="linkedin"><a href="#">LinkedIn</a></li>
                <li class="rss"><a href="#">RSS</a></li>
                <li class="dribbble"><a href="#">Dribbble</a></li>
                <li class="google"><a href="#">Google+</a></li>
            </ul>
        </div>
    </div>
    <!-- /social block -->
    <div class="footer">
        <footer>
            <!-- bottom about -->
            <div class="bottom_about">
                <p><img src="/HtmlTemplate/images/logo.png" alt="" /></p>
                <p>
                    <b>Online Support</b><br/>If you have any queries regarding registering or using our product, then our team are here to help on 01536 444025 .You can also send mail to us,we will get back to you!&nbsp;<a href="mailto:salse@minnan.com">Sales@Minnan.com</a>
                </p>
            </div>
            <!-- /bottom about -->
            <!-- recent tweets -->
            <div class="recent_tweets">
                <h3><span>Recent Events</span></h3>
                <ul>
                    <li><a href="#">@*@laurakalbag*@</a> 2014 IEEE PES T&D Conference and Exposition  <a href="#">September 3, 2014</a></li>
                    <li><a href="#">@*@laurakalbag*@</a> Minnan is now UL Listed!<br /> <a href="#">September 3, 2014 </a></li>
                </ul>
            </div>
            <!-- /recent tweets -->
            <!-- recent posts -->
            <div class="recent_posts">
                <h3><span>Downloads</span></h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolo amet consecect</a></li>
                    <li><a href="#">Sed laoreet neque nonte mauris </a></li>
                    <li><a href="#">Metus lacus, porta vestibulum</a></li>
                    <li><a href="#">Morbi ac magna est ornare eliticits</a></li>
                    <li><a href="#">Voluptas sadips nemis un etras</a></li>
                </ul>
            </div>
            <!-- /recent posts -->
            <!-- subscribe block -->
            <div class="subscribe_block">
                <h3><span>Stay Connected</span></h3>
                <form method="post" action="#">
                    <p><input type="text" id="name" value="NAME ..." /></p>
                    <p><input type="text" id="email" value="EMAIL ..." /></p>
                    <p><input type="submit" value="Subscribe" /></p>
                </form>
            </div>
            <!-- /subscribe block -->
        </footer>
    </div>
    <!-- copyright -->
    <div class="copyright">
        <div class="wraper">
            <p>&copy; Copyright &copy; 2014.Minnan Technology Co.Ltd Company All rights reserved.</p>
            <a class="top" href="#">Back to the top</a>
        </div>
    </div>
    <!-- /copyright -->>
    <!-- /footer -->

    <div style="display:block">
    </div>
</body>
@RenderSection("Footer", false);
</html>
