@model PagedList.IPagedList<ZdtbSite.Model.Customer>

@{
    ViewBag.Title = "客户管理 > 客户信息";
}

@section PageHeader{
    客户管理 > 客户信息
}
<div class="fluid-container">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-md-12">
                <!-- new widget -->
                <div class="jarviswidget" role="widget">
                    <header role="heading">
                        <h2>客户</h2>
                    </header>
                    <!-- wrap div -->
                    <div>
                        <div class="inner-spacer">
                            <!-- content goes here -->
                            <table class="table table-bordered table-striped checked-in responsive has-checkbox" id="sc-table">
                                <thead>
                                    <tr>
                                        <th class="first"><i class="icon-resize-vertical"></i></th>
                                        <th>姓名</th>
                                        <th>客户号</th>
                                        <th>网络地址</th>
                                        <th>邮件</th>
                                        <th>联系方式</th>
                                        <th>创建时间</th>
                                        <th>浏览次数</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" value="@item.Id" name="name @item.Id" id="id @item.Id">
                                            </td>
                                            <td><a href="@Url.Action("Modify", new { id = item.Id })">@item.ContactsName</a></td>
                                            <td>@item.Number</td>
                                            <td>@item.IPAddress</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td>@item.Count 次</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @Html.Partial("PartialPage", Model)
                        </div>
                        <!-- end content-->
                    </div>
                    <!-- end wrap div -->
                </div>
                <!-- end widget -->
            </article>
        </div>
    </section>
</div>

