@using System.Web.Optimization
@{
    ViewBag.Title = "OurOffering";
}
@section Header{
    @Scripts.Render("~/Script/AboutDevice")
    @Styles.Render("~/Style/AboutDevice")
    <script>
        $(function () {
            $(".gallery a[rel^='prettyPhoto']").prettyPhoto({ theme: 'dark_rounded' });
            $('.bwWrapper').BlackAndWhite({
                hoverEffect: true,
                webworkerPath: false,
                responsive: true,
                invertHoverEffect: false
            });
        })
    </script>
}
<div class="content_block">
    <!-- top_title -->
    <div class="top_title">
        <div class="wraper">
            <h2>Our Series <span>This is our favorite part of the site, our showcase!</span></h2>
            <ul>
                <li><a href="@Url.Action("Index", "Product")">Product</a></li>
            </ul>
        </div>
    </div>
    <!-- /top_title -->
    <div class="wraper">
        <!-- Short Text Layout 1 Column -->
        <div class="short_text_layout gallery">
            <ul>
                <li><div class="bwWrapper"><a href="@Url.Action("ProductList","Product")"><img src="/HtmlTemplate/images/portfolio/presentation.png" width="950" height="342" alt="" /></a><p><strong><a href="right_sidebar.html">Oil Transfomer</a></strong></p></div></li>
                <li><div class="bwWrapper"><a href="@Url.Action("ProductList","Product")"><img src="/HtmlTemplate/images/portfolio/presentation2.png" width="950" height="342" alt="" /></a><p><strong><a href="right_sidebar.html">Dry Transformer</a></strong></p></div></li>
                <li><div class="bwWrapper"><a href="@Url.Action("ProductList","Product")"><img src="/HtmlTemplate/images/portfolio/presentation.png" width="950" height="342" alt="" /></a><p><strong><a href="right_sidebar.html">Oil Transfomer</a></strong></p></div></li>
                <li><div class="bwWrapper"><a href="@Url.Action("ProductList","Product")"><img src="/HtmlTemplate/images/portfolio/presentation2.png" width="950" height="342" alt="" /></a><p><strong><a href="right_sidebar.html">Dry Transformer</a></strong></p></div></li>
            </ul>
        </div>
        <!-- /Short Text Layout 1 Column -->
    </div>
</div>