@model ZdtbSite.Web.Models.ProductViewModel
@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<ZdtbSite.Web.Models.ProductViewModel> ProductRecommendList = ViewBag.ProductRecommendList;
}

@section Header{
    @Scripts.Render("~/Script/ArticleIndex")
    @Styles.Render("~/Style/AboutIndex")
    <script>
        $(function () {
            $('.clients_slider').bxSlider({
                auto: false,
                controls: false,
                mode: 'fade',
                pager: true
            });
            $('.recent_slider').bxSlider({
                auto: false,
                displaySlideQty: 1,
                moveSlideQty: 1,
                speed: 1000
            });
            $('#faq').dltoggle();
            $("#open").click(function (event) {
                $('#faq').dltoggle_show();
                return false;
            });
            $("#close").click(function (event) {
                $('#faq').dltoggle_hide();
                return false;
            });
            $('.bwWrapper').BlackAndWhite({
                hoverEffect: true,
                webworkerPath: false,
                responsive: true,
                invertHoverEffect: false
            });
        })
    </script>
}

<div class="content_block">
    <!-- top_title -->
    <div class="top_title">
        <div class="wraper_v2">
            <h2>Product<span>Keep up with the latest news, tips and features right here!</span></h2>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "Product")">Product</a></li>
                <li>ProductDetail</li>
            </ul>
        </div>
    </div>
    <!-- /top_title -->
    <div class="wraper_v2">
        @Html.Partial("_Detail", Model)
        <!-- sidebar -->
        <div class="sidebar">
            <!-- most popular -->
            @Html.Partial("_ProductRecommend", ProductRecommendList)
            <!-- /most popular -->
            <!-- latest tweets -->
            @Html.Partial("_OnlineService")
            <!-- /latest tweets -->
            <!--SearchButton-->
            @Html.Partial("_SearchButton")
            <!--/SearchButton-->
        </div>
        <!-- /sidebar -->
    </div>
</div>
