@model ZdtbSite.Web.Models.MessageViewModel
@using System.Web.Optimization
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<ZdtbSite.Web.Models.ProductViewModel> ProductRecommendList = ViewBag.ProductRecommendList;
}

@section Header{
    @Styles.Render("~/Style/AboutIndex")
    @Scripts.Render("~/Script/AboutIndex")
    <style>
        .field-validation-error {
            color: red;
        }
    </style>
}

@section Footer{
    <script>
        $(function () {
            $('.clients_slider').bxSlider({
                auto: false,
                controls: false,
                mode: 'fade',
                pager: true
            });
            $('.recent_slider').bxSlider({
                auto: false,
                displaySlideQty: 1,
                moveSlideQty: 1,
                speed: 1000
            });
            $('.bwWrapper').BlackAndWhite({
                hoverEffect: true,
                webworkerPath: false,
                responsive: true,
                invertHoverEffect: false
            });
        })
    </script>
}

<div class="content_block">
    <!-- top_title -->
    <div class="top_title">
        <div class="wraper">
            <h2>Get In Touch<span>We're just an email or phone call away.  Fill out the form below and we’ll be right with you!</span></h2>
            <ul>
                <li><a href="@Url.Action("Index", "About")">About Us</a></li>
                <li><a href="@Url.Action("ContactUs","About")">Contact Us</a> </li>
            </ul>
        </div>
    </div>
    <!-- /top_title -->
    <div class="wraper">
        <!-- contact_us -->
        <div class="contact_us">
            <h4>Where We Make Magic Happen</h4>
            <!--   <div class="bwWrapper"><img src="images/contact_us/contact_us.png" width="640" height="265" alt="" /></div>-->
            <div class="map_wrap"><iframe width="640" height="265" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=555+Smith+Street+New+York,+NY+12345&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=49.223579,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=555+Smith+St,+Brooklyn,+Kings,+New+York+11231&amp;t=m&amp;z=14&amp;ll=40.672836,-73.998729&amp;output=embed"></iframe></div>
            <ul>
                <li>Address:<br /><br />Phone:<br />Fax:<br />Toll Free:</li>
                <li><strong>555 Smith Street<br />New York, NY 12345<br />555-123-4567<br />555-123-5678<br />555-123-6789</strong></li>
                <li>Construct is located at the heart of downtown New York City.  Come on down and have a visit!  Or feel free to fill out the form below to get in touch with us. We’d love to hear from you, and will be in touch with you right away.  Thanks, we look forward to hearing from you!  Tempora un incidunt ut labore et dolore magnam aliquam quaeraptatem.</li>
            </ul>
            <h4>Drop Us A Quick Line!</h4>
            @using (Html.BeginForm())
            {
                <p><label for="namet">Name</label>(required)&nbsp; @Html.ValidationMessageFor(x => x.Name)<br />@Html.TextBoxFor(x => x.Name)</p>
                <p><label for="mailt">E-mail</label>(required)&nbsp;@Html.ValidationMessageFor(x => x.Email)<br />@Html.TextBoxFor(x => x.Email)</p>
                <p><label for="Phone">Phone</label><br /><input id="website" type="text" name="phoneNo" /></p>
                <p><label for="message">Message</label>(required)&nbsp;@Html.ValidationMessageFor(x => x.Message)<br />@Html.TextAreaFor(x => x.Message)</p>
                <p><input class="btn_m" type="submit" value="Submit Form" /></p>
            }
        </div>
        <!-- /contact_us -->
        <!-- sidebar -->
        <div class="sidebar">
            <!-- most popular -->
            @Html.Partial("_ProductRecommend", ProductRecommendList);
            <!-- /most popular -->
            <!-- latest tweets -->
            <!-- /latest tweets -->
            <!-- our clients -->
            <div class="our_clients">
                <h4>Our Clients Just Love Us</h4>
                <ul class="clients_slider">
                    <li>
                        <blockquote>
                            <p>"Nam libero tempore, cum soluta nobis est eligendi optio cumque nihl impedit quois minus id quod maxime placeat facere rendus sit sadipsamets."</p>
                            <p>Jane Doe, CEO of Imperio</p>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <p>"Cum soluta nobis est eligendi optio cumque nihl impedit quois minus id quod maxime placeait sadipsamets."</p>
                            <p>Jane Doe, CEO of Imperio</p>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <p>"Libero tempore, cuendi optio cumque nihl impedit quois minus id quod maxime placeat facere rendus sit sadipsamets."</p>
                            <p>Jane Doe, CEO of Imperio</p>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <p>"Nam libero tempore, cum soluta nobis es nihl impedit quois minus id quod maxime placeat facere rendus sit sadipsamets."</p>
                            <p>Jane Doe, CEO of Imperio</p>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <p>"Am libero tempore, cum soluta nobis est eligendi optio cumque ipsamets."</p>
                            <p>Jane Doe, CEO of Imperio</p>
                        </blockquote>
                    </li>
                </ul>
            </div>
            <!-- /our clients -->
            <!-- recent work -->
            <!--<div class="recent_work">
             <h4>Recent Work Widget</h4>
             <ul class="recent_slider">
              <li><div class="bwWrapper"><a href="#"><img src="images/blog/blog_23.png" width="59" height="54" alt="" /></a></div><div class="bwWrapper"><a href="#"><img src="images/blog/blog_24.png" width="59" height="54" alt="" /></a></div><div class="bwWrapper"><a href="#"><img src="images/blog/blog_25.png" width="59" height="54" alt="" /></a></div><div class="bwWrapper"><a href="#"><img src="images/blog/blog_26.png" width="59" height="54" alt="" /></a></div><div class="bwWrapper"><a href="#"><img src="images/blog/blog_27.png" width="59" height="54" alt="" /></a></div><div class="bwWrapper"><a href="#"><img src="images/blog/blog_28.png" width="59" height="54" alt="" /></a></div></li>
             </ul>
            </div>-->
            <!-- /recent work -->
        </div>
        <!-- /sidebar -->
    </div>
</div>
