@using System.Web.Optimization
@{
    ViewBag.Title = "TechnologySupportDetail";
    IEnumerable<ZdtbSite.Model.ContentType> contentTypes = ViewBag.ContentTypes;
}

@section Header{
    @Scripts.Render("~/Script/ArticleIndex")
    @Styles.Render("~/Style/AboutIndex")
    <script>
        $(function () {
            $('.clients_slider').bxSlider({
                auto: false,
                controls: false,
                mode: 'fade',
                pager: true
            });
            $('.recent_slider').bxSlider({
                auto: false,
                displaySlideQty: 1,
                moveSlideQty: 1,
                speed: 1000
            });
            $('#faq').dltoggle();
            $("#open").click(function (event) {
                $('#faq').dltoggle_show();
                return false;
            });
            $("#close").click(function (event) {
                $('#faq').dltoggle_hide();
                return false;
            });
            $('.bwWrapper').BlackAndWhite({
                hoverEffect: true,
                webworkerPath: false,
                responsive: true,
                invertHoverEffect: false
            });
        })
    </script>
}

<div class="content_block">
    <!-- top_title -->
    <div class="top_title">
        <div class="wraper">
            <h2>Our Blog <span>Keep up with the latest news, tips and features right here!</span></h2>
            <ul>
                <li><a href="@Url.Action("Index", "About")">About Us</a></li>
                <li><a href="@Url.Action("TechnologySupportDetail", "About")">Technology Support</a></li>
            </ul>
        </div>
    </div>
    <!-- /top_title -->
    <div class="wraper">
        @Html.Partial("_Detail")
        @Html.Partial("_DetailSidebar", contentTypes, ViewData)
    </div>
</div>

