@model ZdtbSite.Web.Areas.ZdtbAdmin.Models.DocumentViewModel


@section PageHeader{
    文档发布
}
@{
    ViewBag.Title = "文档发布";
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

}

<div class="fluid-container">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-md-12">
                <!-- new widget -->
                <div class="jarviswidget" id="widget-id-0" role="widget">
                    <header>
                        <h2>文章信息</h2>
                    </header>
                    <div>

                        <div class="inner-spacer">
                            <!-- content goes here -->
                            <form class="form-horizontal themed" method="post" action="@Url.Action("Modify")">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">@Html.LabelFor(m => m.Title)</div>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", autofocus = "" })
                                                @Html.ValidationMessageFor(m => m.Title)
                                                @*<input type="text" class="form-control" id="input01" />*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">@Html.LabelFor(m => m.Description)</div>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Description)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">@Html.LabelFor(m => m.Path)<span>(单个文件最大限制为4M)</span></div>
                                            <div class="col-md-9">
                                                <input type="file" id="fileElem" name="fileElem" />
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <div class="row" style="text-align:right">
                                            <div class="col-md-12">
                                                @Html.HiddenFor(e => e.Id)
                                                @Html.HiddenFor(e => e.Path)
                                                <button type="reset" name="name" class="btn btn-danger">
                                                    <i class="icon-repeat icon-white"></i> 重置
                                                </button>

                                                <button type="submit" name="name" class="btn btn-primary" onclick="return fileSelected();">
                                                    <i class="icon-ok-sign icon-white"></i> 保存
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section script{

 <script>
        function fileSelected() {
            var file = document.getElementById("fileElem").files[0];
            if (file) {
                console.log(file.size);
                if ((Math.round(file.size * 100 / (1024 * 1024)) / 100) > 4) {
                    finAlert("上传文件过大，只能上传小于4MB的文件，请重新选择", false);
                    return false;
                }
            }
            return true;
        }
</script>
}