@model PagedList.IPagedList<ZdtbSite.Model.Feedback>

@using ZdtbSite.Web.Areas.ZdtbAdmin.Models;

@{
    ViewBag.Title = "留言预览";

}

@section PageHeader{
    留言预览
}
<div class="fluid-container">
    <div class="row" style="padding-bottom:10px">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <form id="search" class="form-horizontal themed" method="post" action="@Url.Action("Index")">
                <div>
                    <div class="row">
                        <div class="col-md-2">筛选留言</div>
                        <div class="col-md-8">
                            <select class="with-search">
                                <option value="1">问题</option>
                                <option value="2">留言</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn"><i class="icon-search"></i>筛选</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-md-12">
                <!-- new widget -->
                <div class="jarviswidget" role="widget">
                    <header role="heading">
                        <h2>留言</h2>
                    </header>
                    <!-- wrap div -->
                    <div>
                        <div class="inner-spacer">
                            <!-- content goes here -->
                            <table class="table table-bordered table-striped checked-in responsive has-checkbox" id="sc-table">
                                <thead>
                                    <tr>
                                        <th class="first"><i class="icon-resize-vertical"></i></th>
                                        <th>客户</th>
                                        <th>留言内容</th>
                                        <th>联系电话</th>
                                        <th>留言时间</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {


                                        <tr>
                                            <td>
                                                <input type="checkbox" value="@item.Id" name="name @item.Id" id="id @item.Id">
                                            </td>
                                            <td>@item.Customer.IPAddress</td>
                                            <td>@item.Content</td>
                                            <td>@item.Mobile</td>
                                            <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @Html.Partial("PartialPage", Model)
                        </div>
                        <!-- end content-->
                    </div>
                    <!-- end wrap div -->
                </div>
                <!-- end widget -->
            </article>
        </div>
    </section>
</div>
@section script{
    <script>
        function setUrl($ele) {
            var href = $ele.data("rel") + "/" + $("input[type='checkbox']:checked").first().val();
            $ele.attr("href", href);
        }
        $(function () {
            $("input[type='checkbox']").click(function () {
                setUrl($("#btnModify"));
                setUrl($("#btnRestPwd"));
                setUrl($("#btnAssign"));
            });
            $(".addClick").click(function (e) {
                if ($("input[type='checkbox']:checked").length <= 0) {
                    finAlert("请选择需要操作的文章，请重新选择", false);
                    e.preventDefault();
                    return false;
                }

                if ($("input[type='checkbox']:checked").length > 1) {
                    finAlert("选择需要操作的文章过多，请重新选择", false);
                    e.preventDefault();
                    return false;
                }
            });
            $("#btnDelete").click(function () {
                if ($("input[type='checkbox']:checked").length <= 0) {
                    return false;
                }
                var id = $("input[type='checkbox']:checked").first().val();
                ajaxSubmit("@Url.Action("Delete", "Article")", { id: id, url: location.href }, "正在删除数据，请稍后");
                return false;
            });
            $("#btnPublish").click(function () {
                if ($("input[type='checkbox']:checked").length <= 0) {
                    return false;
                }
                var id = $("input[type='checkbox']:checked").first().val();
                ajaxSubmit("@Url.Action("Publish", "Article")", { id: id, url: location.href }, "正在发布，请稍后");
                return false;
            });

        });
    </script>
}
