@model PagedList.IPagedList<ZdtbSite.Model.Feedback>

@using ZdtbSite.Web.Areas.ZdtbAdmin.Models;

@{
    ViewBag.Title = "客户追踪 > 留言预览";
    Random rand = new Random();
}

@section PageHeader{
    客户追踪 > 留言预览
}
<div class="fluid-container">

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-md-12">
                <div class="jarviswidget" id="widget-id-2" role="widget">
                    <header>
                        <h2>留言信息</h2>
                    </header>
                    @*<div>
                        <div class="inner-spacer chat-widget widget-content-padding">
                            <ul id="myChat" class="nav nav-tabs chat-tabs">
                                <li class="active">
                                    <button class="btn btn-mini pull-right chat-close-btn"><i class="icon-remove"></i></button>
                                    <a href="#user1" data-toggle="tab"><i class="online"></i>留言板</a>
                                </li>
                                <li>
                                        <button class="btn btn-mini pull-right chat-close-btn"><i class="icon-remove"></i></button>
                                        <a href="#user2" data-toggle="tab"><i class="away"></i>留言问题</a>
                                    </li>
                            </ul>
                            <div id="myChatTab" class="tab-content chat-content">
                                <div class="tab-pane fade in active" id="user1">
                                    <div class="chat-messages">
                                        @foreach (var key in Model.GroupBy(e => e.CustomerId).Select(e => e.Key))
                                        {
                                            string img = rand.Next(0, 9) + ".jpg";
                                            foreach (var item in Model.Where(e => e.CustomerId == key))
                                            {
                                                if (item.FeedbackType == ZdtbSite.Model.FeedbackType.Message)
                                                {
                                                    <p id="message-id-@item.Id" class="message-box">
                                                        <a href="#">
                                                            <img src="/Areas/ZdtbAdmin/Content/img/avatar/avatar_@img" alt="">
                                                        </a>
                                                        <span class="message">
                                                            <strong>IP：@item.Customer.IPAddress 电话：@item.Mobile</strong>
                                                            <span class="message-time">@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                                            <span class="message-text">@item.Content</span>
                                                        </span>
                                                    </p>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="user2">
                                        <div class="chat-messages">
                                            @foreach (var item in Model)
                                            {
                                                if (item.FeedbackType == ZdtbSite.Model.FeedbackType.Question)
                                                {
                                                    string img = rand.Next(0, 9) + ".jpg";

                                                    <p id="message-id-@item.Id" class="message-box">
                                                        <a href="#">
                                                            <img src="/Areas/ZdtbAdmin/Content/img/avatar/avatar_@img" alt="">
                                                        </a>
                                                        <span class="message">
                                                            <strong>IP：@item.Customer.IPAddress 电话：@item.Mobile</strong>
                                                            <span class="message-time">@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                                            <span class="message-text">@item.Content</span>
                                                        </span>

                                                    </p>
                                                }
                                            }
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>*@
                    @Html.Partial("FeedbackPage",Model.ToList())
                    @Html.Partial("PartialPage", Model)
                </div>
            </article>
        </div>
    </section>
</div>
@section script{
    <script>
        function setUrl($ele) {
            var href = $ele.data("rel") + "/" + $("input[type='checkbox']:checked").first().val();
            $ele.attr("href", href);
        }
        $(function () {
            $("input[type='checkbox']").click(function () {
                setUrl($("#btnModify"));
                setUrl($("#btnRestPwd"));
                setUrl($("#btnAssign"));
            });
            $(".addClick").click(function (e) {
                if ($("input[type='checkbox']:checked").length <= 0) {
                    finAlert("请选择需要操作的文章，请重新选择", false);
                    e.preventDefault();
                    return false;
                }

                if ($("input[type='checkbox']:checked").length > 1) {
                    finAlert("选择需要操作的文章过多，请重新选择", false);
                    e.preventDefault();
                    return false;
                }
            });
            $("#btnDelete").click(function () {
                if ($("input[type='checkbox']:checked").length <= 0) {
                    return false;
                }
                var id = $("input[type='checkbox']:checked").first().val();
                ajaxSubmit("@Url.Action("Delete", "Article")", { id: id, url: location.href }, "正在删除数据，请稍后");
                return false;
            });
            $("#btnPublish").click(function () {
                if ($("input[type='checkbox']:checked").length <= 0) {
                    return false;
                }
                var id = $("input[type='checkbox']:checked").first().val();
                ajaxSubmit("@Url.Action("Publish", "Article")", { id: id, url: location.href }, "正在发布，请稍后");
                return false;
            });

        });
    </script>
}
