<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <style>
        .field-validation-error {
            color: red;
        }

        .fluid-container {
            min-height: 450px;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="~/Areas/ZdtbAdmin/Content/css/datepicker.css?v=1">
    <link rel="stylesheet" href="~/Areas/ZdtbAdmin/Content/css/toastr.custom.css?v=1">
    <link rel="stylesheet" href="~/Areas/ZdtbAdmin/Content/css/toastr-responsive.css?v=1">
    <link rel="stylesheet" href="~/Areas/ZdtbAdmin/Content/css/bootstrap.min.css?v=1">
    <link rel="stylesheet" href="~/Areas/ZdtbAdmin/Content/css/font-awesome.min.css?v=1">
    <link rel="stylesheet" href="~/Areas/ZdtbAdmin/Content/css/cus-icons.css?v=1">
    <link rel="stylesheet" href="~/Areas/ZdtbAdmin/Content/css/jarvis-widgets.css?v=1">
    <link href="~/Areas/ZdtbAdmin/Content/css/DT_bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/ZdtbAdmin/Content/css/uniform.default.css" rel="stylesheet" />
    <link href="~/Areas/ZdtbAdmin/Content/css/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Areas/ZdtbAdmin/Content/css/theme.css?v=1">
    <link rel="stylesheet" href="~/Areas/ZdtbAdmin/Content/css/theme-responsive.css?v=1">
    <link rel="stylesheet" href="~/Areas/ZdtbAdmin/Content/css/jquery.jgrowl.css?v=1">
    <link href="~/Areas/ZdtbAdmin/Content/css/messenger/messenger.css?v=1" rel="stylesheet" />
    <link href="~/Areas/ZdtbAdmin/Content/css/messenger/messenger-theme-future.css?v=1" rel="stylesheet" />
    <script>
        var path = localStorage.getItem("themes");
        if (path == null || path == "") {
            document.write('<link rel="stylesheet" id="switch-theme-js" href="/Areas/ZdtbAdmin/Content/css/themes/default.css?v=1">');
        } else {
            document.write('<link rel="stylesheet" id="switch-theme-js" href="' + path + '">');
        }
    </script>
    <link rel="stylesheet" id="switch-width" href="~/Areas/ZdtbAdmin/Content/css/full-width.css?v=1">
    <link rel="shortcut icon" href="~/Areas/ZdtbAdmin/Content/img/favicons/favicon.png">
    <!-- For everything else -->
    <link rel="shortcut icon" href="~/Areas/ZdtbAdmin/Content/img/favicons/favicon.ico">
    <!-- For retina screens -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Areas/ZdtbAdmin/Content/img/favicons/apple-touch-icon-retina.png">
    <!-- For iPad 1-->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Areas/ZdtbAdmin/Content/img/favicons/apple-touch-icon-ipad.png">
    <!-- For iPhone 3G, iPod Touch and Android -->
    <link rel="apple-touch-icon-precomposed" href="~/Areas/ZdtbAdmin/Content/img/favicons/apple-touch-icon.png">

    <!-- iOS web-app metas -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Add your custom home screen title: -->
    <meta name="apple-mobile-web-app-title" content="Jarvis">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="~/Areas/ZdtbAdmin/Content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/Areas/ZdtbAdmin/Content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/Areas/ZdtbAdmin/Content/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

</head>
@using ZdtbSite
<body>
    <!-- .height-wrapper -->
    <div class="height-wrapper">

        <!-- header -->
        <header>
            <!-- tool bar -->
            <div id="header-toolbar" class="container-fluid">
                <!-- .contained -->
                <div class="contained">

                    <!-- theme name -->
                    <h1>Minnan<span class="hidden-xs">- 网站管理</span> </h1>
                    <!-- end theme name -->
                    <!-- col-md-4 -->
                    <div class="pull-right">
                        <!-- demo theme switcher-->
                        <div id="theme-switcher" class="btn-toolbar">

                            <!-- search and log off button for phone devices -->
                            <div class="btn-group pull-right visible-xs">
                                <a href="javascript:void(0)" class="btn btn-inverse btn-sm"><i class="icon-search"></i></a>
                                <a href="login.html" class="btn btn-inverse btn-sm"><i class="icon-off"></i></a>
                            </div>
                            <!-- end Tasks -->
                            <!-- theme dropdown -->
                            <div class="btn-group hidden-xs">
                                <a href="javascript:void(0)" class="btn btn-sm btn-inverse" id="reset-widget"><i class="icon-refresh"></i></a>
                                <a href="javascript:void(0)" class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown">主题 <span class="caret"></span></a>
                                <ul id="theme-links-js" class="dropdown-menu toolbar pull-right">
                                    <li>
                                        <a href="javascript:void(0)" data-rel="purple"><i class="icon-sign-blank purple-icon"></i>紫色</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-rel="blue"><i class="icon-sign-blank navyblue-icon"></i>蓝色</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-rel="green"><i class="icon-sign-blank green-icon "></i>绿色</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-rel="darkred"><i class="icon-sign-blank red-icon "></i>酒红</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-rel="default"><i class="icon-sign-blank grey-icon"></i>黑色</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end theme dropdown-->

                        </div>
                        <!-- end demo theme switcher-->
                    </div>
                    <!-- end col-md-4 -->
                </div>
                <!-- end .contained -->
            </div>
            <!-- end tool bar -->

        </header>
        <!-- end header -->

        <div id="main" role="main" class="container-fluid">
            <div class="contained">
                <!-- aside -->
                <aside>
                    <div class="divider"></div>
                    <!-- end search box -->
                    <!-- aside item: Mini profile -->
                    <div class="my-profile">
                        <a href="javascript:void(0)" class="my-profile-pic">
                            <img src="/Areas/ZdtbAdmin/Content/img/avatar/avatar_0.jpg" alt="" />
                        </a>
                        @{
                            var id = HttpContext.Current.Items["LoginUserId"];
                            var route = new RouteValueDictionary();
                            route.Add("id", id);
                        }
                        <span class="first-child">欢迎 <strong>@HttpContext.Current.Items["LoginUserName"] !</strong></span>
                        <span><a href="@Url.Action("Modify", "User", route)">编辑信息 </a></span>
                    </div>
                    <div class="divider"></div>
                    <div class="sidebar-nav-fixed">
                        @Html.Partial("MenuPage")
                    </div>
                    <div class="divider"></div>
                    <div class="mini-inbox">

                        @{
                            //List<System.Collections.Hashtable> feedList = new List<System.Collections.Hashtable>();
                            //feedList = (List<System.Collections.Hashtable>)HttpContext.Current.Items["FeedBackList"];

                            List<ZdtbSite.Model.Feedback> list = (List<ZdtbSite.Model.Feedback>)HttpContext.Current.Items["FeedBackList"];
                        }
                        @if (list != null)
                        {
                            for (int i = 0; i < list.Count; i++)
                            {
                                <div class="alert inbox">
                                    <button type="button" class="close" data-dismiss="alert">
                                        ×
                                    </button>

                                    <a href="javascript:void(0)">
                                        <img src="/Areas/ZdtbAdmin/Content/img/email-important.png" width="22" height="18" alt="important mail" />
                                        @list[i].Customer.IPAddress
                                    </a>
                                    @list[i].Content.strSub(0, 20, "...")
                                </div>
                            }
                        }
                    </div>
                    <div class="divider"></div>
                </aside>
                <!-- aside end -->
                <!-- main content -->
                <div id="page-content">
                    <!-- page header -->
                    <h1 id="page-header">@RenderSection("PageHeader", false)</h1>
                    @RenderBody()
                </div>
            </div>

        </div><!--/.fluid-container-->
        <div class="push"></div>
    </div>
    <script src="/Areas/ZdtbAdmin/Content/js/libs/jquery.min.js"></script>
    <script src="/areas/zdtbadmin/content/js/libs/jquery.ui.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/selectnav.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.accordion.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/toastr.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.jgrowl.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/slimScroll.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.dataTables.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/DT_bootstrap.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.uniform.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/amchart/amcharts.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/amchart/amchart-draw1.js"></script>
    <script type="text/javascript">
        var ismobile = (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
        if (!ismobile) {
            document.write('<script src="/Areas/ZdtbAdmin/Content/js/include/ZeroClipboard.min.js"><\/script>');
            document.write('<script src="/Areas/ZdtbAdmin/Content/js/include/TableTools.min.js"><\/script>');
            document.write('<script src="/Areas/ZdtbAdmin/Content/js/include/select2.min.js"><\/script>');
            document.write('<script src="/Areas/ZdtbAdmin/Content/js/include/jquery.excanvas.min.js"><\/script>');
            document.write('<script src="/Areas/ZdtbAdmin/Content/js/include/jquery.placeholder.min.js"><\/script>');
        } else {
            document.write('<script src="/Areas/ZdtbAdmin/Content/js/include/responsive-tables.min.js"><\/script>');
        }
    </script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.ibutton.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/raphael.2.1.0.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/justgage.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/morris.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/morris-chart-settings.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.easy-pie-chart.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jarvis.widget.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/mobiledevices.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.fullcalendar.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.flot.cust.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.flot.resize.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.flot.tooltip.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.flot.orderBar.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.flot.fillbetween.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.flot.pie.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.sparkline.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.inbox.slashc.sliding-menu.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.validate.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/bootstrap-progressbar.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/wysihtml5-0.3.0.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/bootstrap-wysihtml5.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/jquery.maskedinput.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/bootstrap-datepicker.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/bootstrap.wizard.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/bootstrap-colorpicker.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/bootstrap-timepicker.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/include/bootstrap.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/config.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/libs/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/libs/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/libs/jquery.form.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/messenger/bootbox.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/messenger/messenger.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/messenger/messenger-theme-flat.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/common.js"></script>
    <script>
        $(function () {
            $(".current a").click();
        });
    </script>
    @RenderSection("script", false)
</body>
</html>
